ul {
  list-style: none;
}
.text {
  padding-top: 50px;
}
.text .show li {
  margin-top: 10px;
}
body {
  font-family: "微软雅黑";
}
.inputt input {
  border: none;
  border-bottom: 1px solid #D0D0D0;
  margin-bottom: 10px;
  margin-left: 54px;
  line-height: 40px;
  outline: none;
}
.inputt .last {
  line-height: 100px;
}
.submit {
  border: 1px solid #D0D0D0;
  width: 200px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  margin-bottom: 100px;
}
#nav_ul li {
  width: 129px;
}
#s2-nav {
  display: none;
}
.text .show li {
  line-height: 40px;
}
.icon-show {
  visibility: hidden;
}
@media screen and (max-width: 768px) {
  .caret {
    display: none;
  }
  .dropdown-menu {
    display: none;
  }
  .icon-show {
    margin-left: 8%;
    visibility: visible;
  }
  .nav-su {
    width: 40% !important;
    position: relative;
    left: -40%;
  }
  .icon_q {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid red;
    margin-right: 5%;
  }
  #s-nav li {
    width: 80%;
  }
  #s-nav li a {
    text-align: left;
    text-indent: 1em;
  }
}
.s-nav {
  background-color: #fff;
  margin-bottom: 0;
  position: fixed;
  z-index: 3;
  width: 100%;
}
.s-nav #s-nav {
  padding-top: 15px;
}
.s-nav .container-fluid {
  height: 69px;
}
.s-nav .navbar-header {
  height: 69px;
}
.s-nav .navbar-brand {
  padding: 0 15px;
}
.s-nav li {
  width: 100px;
}
.s-nav li a {
  text-align: center;
  padding: 15px 20px;
  transition: all 2s;
}
.s-nav li:nth-child(5) {
  width: 112px;
}
.s-nav li:nth-child(6) {
  width: 133px;
}
.s-nav .dropdown-menu {
  min-width: 100px;
}
